.carouselbp img{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 533px;
    overflow: visible;
    border-radius: 5px;
    padding: 10px;
}

table{
    border-collapse: separate;
    border-spacing: 50px 11px;
}
