<link rel="stylesheet" type="text/css" href="static/css/add_book.css" />
{% extends "base.html" %}

{% block content %}
    <h1 style="color: white; text-shadow: 2px 2px 1px #343434; ">Добавление книги</h1>
    <form class="add_book" action="" method="post"
    enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h5 style="color: red;">{{ message }}</h5>
        <p>
            {{ form.title.label }}<br>
            {{ form.title() }}<br>
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.author.label }}<br>
            {{ form.author() }}<br>
            {% for error in form.author.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content() }}<br>
            {% for error in form.content.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image() }}<br>
            {% for error in form.image.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.status.label }}<br>
            {{ form.status() }}<br>
            {% for error in form.status.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.limitation.label }}<br>
            {{ form.limitation() }}<br>
            {% for error in form.limitation.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.publishing_house.label }}<br>
            {{ form.publishing_house() }}<br>
            {% for error in form.publishing_house.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.year_publishing.label }}<br>
            {{ form.year_publishing() }}<br>
            {% for error in form.year_publishing.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.number_of_pages.label }}<br>
            {{ form.number_of_pages() }}<br>
            {% for error in form.number_of_pages.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.barcode.label }}<br>
            {{ form.barcode() }}<br>
            {% for error in form.barcode.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}
