<title>Заказы</title>

{% extends "base.html" %}

{% block content %}
<div class="reg_container" style="margin: 0 30%; padding: 1rem; background-color: #ddd9cd; border-radius: 0.25rem;">
    <h1>Информация</h1><br>

    <table class="table">
        <tbody>
        {% for i in array %}
        {% set x = loop.index %}
        {% for j in i[-1] %}

        <tr style="border-bottom:1px #8d7f52 solid">
            <td>
                <div class="name_trash" style="display: flex">
                    <a href="/information/user_delete/{{ book_id[x - 1][i[-1].index(j)] }}/{{ i[2] }}" style="margin-top: 10px"><i class="fa fa-trash"></i></a>
                    <h3 style="text-align: start; margin-left: 20px">{{ i[0] }}:</h3>
                </div>
                <h5 style="text-align: start; margin-left: 35px">- {{ j }}</h5>
            </td>
        </tr>

        {% endfor %}
        {% endfor %}

        </tbody>
    </table>

</div>
{% endblock %}
