<title>Заказы</title>

{% extends "base.html" %}

{% block content %}
<div class="reg_container" style="margin: 0 30%; padding: 1rem; background-color: #ddd9cd; border-radius: 0.25rem;">
    <h1>Информация</h1><br>

    <table class="table">
        <tbody>

        {% for i in array %}

        <tr style="border-bottom:1px #8d7f52 solid">
            <td>
                <div class="name_trash" style="display: flex">
                    <form method="post">
                        <a href="/user_delete/{{ i.id }}" style="margin-top: 10px"><i class="fa fa-trash"></i></a>
                    </form>

                    <h3 style="text-align: start; margin-left: 20px">{{ i[0] }}:</h3>
                </div>
                <h5 style="text-align: start; margin-left: 35px">- {{ i[1] }}</h5>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

<!--    {% for i in array %}-->
<!--    <h3>{{ i[0] }}:</h3>-->
<!--    <h5>-&#45;&#45;&#45;&#45;&#45;&#45;{{ i[1] }}</h5><br>-->
<!--    {% endfor %}-->
</div>
{% endblock %}
